body {
    background-image: url(../img/sfondo-password2.jpg);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0;
}

h1 {
    font-size: 50px;
    color: white;
}

h2 {
    font-size: 30px;
    color: black;
}

.container {
    background-color: rgba(255,255,255,0.5);
    align-items: center;
    margin-top: 30px;
    border: 1px solid;
    padding: 30px;
    padding-left: 50px;
    box-shadow: -3px 3px 3px;
    border-radius: 20px;
    width: 80%
}

input{
    height: 30px;
    width: 300px;
    margin-top: 20px;
    margin-right: 20px;
    border: 1px solid;
    border-radius:10px;
    padding: 10px;
}

input:focus {
    outline: none;
    
}

label{
    text-align: center
}

select {
    width: 50px;
    height: 30px;

}

button {
    height: 50px;
    width: 200px;
    background-color: #0d6efd;
    margin: 20px;
    color: white;
    border-radius: 10px;
    border: none;
    
}

button:hover {
    background-color: #0056d4;
    cursor: pointer;
}

button:active {
    background-color: #0a00ff
}

.search {
    width: 80%;
    margin-top: 30px;    
    background-color: rgba(255,255,255,0.5);
}

.search h2 {
    margin-bottom: 5px;
}

#search input {
    margin: 0;
    padding: 10px;
    width: 50%;
    height: 30px;
    border-radius: 10px;
    border: 1px solid;
    font-size: 25px;
}

#search button {
    font-size: 20px;
    height: 50px;
    letter-spacing: 2px;
    border-radius: 10px;
}

#table  {
    width: 80%;
    padding: 43px;
}

#table h2{
   text-align: center;
   margin-bottom: 50px;

}

table {
    width: 100%;
    justify-content: space-around;
}

table thead {
    color: white;
}

tr {
    border-bottom: 1px solid #333;
}

table tr, td {
    width: 20%;
    text-align: center;
}

table tr:hover {
    background-color: lightslategrey;
}

#table button {
    width: 30%;
    font-size: 15px;
    background-color: #0d6efd;
    color: white;
    border-radius: 10px;
    border: none;
}
